//Write custom CSS
div {
  margin-bottom: 20px;
}

#seminar-04 {
  //Reset previous styles
  margin: 0;
  div {
    margin-bottom: 0;
  }

  nav {
    background-color: #061539;
    padding: 20px 0;
    text-align: center;
  }

  nav a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
  }

  section {
    display: flex;
  }

  article {
    flex: 0 0 80%;
    white-space: pre-line;
    padding-left: 20px;
  }

  footer {
    background-color: #343a40;
    color: white;
  }

  .page-header {
    background-color: #7887AB;
    display: flex;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-color: #061539;
    color: white;
    justify-content: center;;
  }

  #brand {
    padding: 10px;
    background-color: #2E4172;
  }
  #brand a {
    float: left;
  }

  #brand h2 {
    color: rgb(255, 255, 255);
    font-size: 2em;
  }

  #secondary-menu {
    flex: 0 0 20%;
    background-color: lightgray;
    text-align: center;
  }

  #secondary-menu ul {
    list-style: none;
    padding: 10px 10px;
  }

  #secondary-menu li {
    padding: 10px;
    border: 2px solid #061539;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  #secondary-menu a {
    color: #061539;
  }

  #fixed {
    position: fixed;
    top: 50%;
    right: -30px;
    background-color: #4267b2;
    color: white;
    padding: 5px 10px;
    transform: rotate(-90deg);
    border-radius: 5px;
    border: 1px solid #061539;
  }
}
